.footer{
    border-top: 1px solid gray;
}

.footer h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--preto);
    padding: 1em;
}

.lista-rodape{
    display: none;
}

@media  (min-width: 1024px){
    .lista-rodape{
        display: block;
    }
    .footer{
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape__titulo{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: var(--cinza-claro);
        text-transform: uppercase;
        padding: 2em 0 ;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
    }

    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza);
    }

    .footer h2{
        font-size: 24px;
    }
}

@media  (min-width: 1024px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .footer{
        padding: 3em 0;
    }
}